.outer-box{
    border-radius: 20px;
    border-left-width:0 5px;
    border: solid #a7a5a5;
    background-color: #424242;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    text-align: center;
}
.box {
    border-radius: 20px;
    background-color: #284b5c;
    border-top-width: 10px;
    border: solid #6fb6da;
    border-left-width: 0 5px;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    width:1780px;
}

.inner-box {
    border: solid #a7a5a5;
    border-radius: 20px;
    border-left-width:0 5px;
    background: #424242;
    text-align: left;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    vertical-align: middle;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}

.proj-input {
    width: 193px;
    vertical-align: middle;
}

.desc-input {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    width: 1725px;
    height: 60px;
    vertical-align: middle;
}

.box-data {
    border-radius: 20px;
    background-color: #284b5c;
    border-top-width: 10px;
    border: solid #6fb6da;
    border-left-width: 0 5px;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    width: 1780px;
}

.cir {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    background: #2e705c;
    border: solid #3db38f;
    height: 50px;
    border-radius: 100px;
    margin: 5px;
}

.reverse-check {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.check-box{
    width: 70px;
    display: inline-block;
    vertical-align: middle;
}

.static-box {
    border-radius: 20px;
    border-left-width: 0 5px;
    background: #284b5c;
    border: solid #6fb6da;
    padding: 20px 20px 20px 20px;
    height: 27px;
    text-align:center;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0px;
    font-size: 25px;
}

.static-box-error {
    border-radius: 20px;
    border-left-width: 0 5px;
    background: #690f0f;
    border: solid #ca6666;
    padding: 20px 20px 20px 20px;
    height: auto;
    text-align:center;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0px;
    font-size: 25px;
}

.static-box-success {
    border-radius: 20px;
    border-left-width: 0 5px;
    background: #2e705c;
    border: solid #3db38f;
    padding: 20px 20px 20px 20px;
    height: auto;
    text-align:center;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0px;
    font-size: 25px;
}

.static-box-fail {
    border-radius: 20px;
    border-left-width: 0 5px;
    background: #85601b;
    border: solid #dfb361;
    padding: 20px 20px 20px 20px;
    height: auto;
    text-align:center;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0px;
    font-size: 25px;
}

.box-valid {
    border-radius: 20px;
    background-color: #284b5c;
    border-top-width: 10px;
    border: solid #6fb6da;
    border-left-width: 0 5px;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    height: 73px;
    width: 1780px;
}

.generated {
    border-radius: 20px;
    background-color: #284b5c;
    border-top-width: 10px;
    border: solid #6fb6da;
    border-left-width: 0 5px;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 17px 5px;
    overflow: hidden;
    text-align: center;
    width:1780px;
    display: inline-block;
    vertical-align: middle;
}

.example-data {
    display: inline-block;
    border-radius: 20px;
    background-color: #424242;
    border-top-width: 10px;
    border: solid #a7a5a5;
    border-left-width: 0 5px;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    text-align: center;
    width: 1725px;
}

.hidden-data-odd {
    display: none;
    border-radius: 20px;
    background-color: #284b5c;
    border-top-width: 10px;
    border: solid #6fb6da;
    border-left-width: 0 5px;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    text-align: center;
    width: 1725px;
}

.inner-box-even{
    border: solid #6fb6da;
    border-radius: 20px;
    border-left-width:0 5px;
    background: #284b5c;
    text-align: left;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    vertical-align: middle;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}

.hidden-data-even {
    display: none;
    border-radius: 20px;
    background-color: #424242;
    border-top-width: 10px;
    border: solid #a7a5a5;
    border-left-width: 0 5px;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    text-align: center;
    width: 1725px;
}

.add-delete{
    border: solid #a7a5a5;
    border-radius: 20px;
    border-left-width:0 5px;
    background: #424242;
    text-align: left;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    vertical-align: middle;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}


.rule-action{
    border: solid #a7a5a5;
    border-radius: 20px;
    border-left-width:0 5px;
    background: #424242;
    text-align: left;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    vertical-align: middle;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}

.pub-ip{
    border: solid #a7a5a5;
    border-radius: 20px;
    border-left-width:0 5px;
    background: #424242;
    text-align: left;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    vertical-align: middle;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}

.bar{
    height: 100px;
}

.fw-button{
    vertical-align: middle;
}

/* Fonts */

input {
    font-family: "Roboto", sans-serif;

}

button {
    font-family: "Roboto", sans-serif;
}

li {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin-left: 10px;
    text-align: left;
}

h3 {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin-top: 0px;
}

h2 {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    font-size: 45px;
    margin-top: 22.35px;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin-top: 0px;
    text-align: left;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    color: whitesmoke;
    text-align: center;
}

.num {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    font-size: 40px;
    margin: 0px;
}

.bidir {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0px;
    font-size: 10px;
}

.ra-text {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0px;
    text-align: center;
}

.pi-text {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0px;
    text-align: center;
}